<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="fileTarget" fileName="logs/logfile.log" layout="${longdate}|${level:uppercase=true}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>
</nlog>
